In [2]:
import pandas as pd 
import numpy as np

In [19]:
df_msgs = pd.read_excel('msgs_kurator.xlsx')

In [20]:
df_msgs.head()

,signature,channel_id,channel_name,msg_id,message,cleaned_message,date,msg_link,msg_from_peer,msg_from_id,...,contact_name,contact_userid,geo_type,lat,lng,venue_id,venue_type,venue_title,venue_address,venue_provider
0,msg_iteration.0.user.kurator_oblasti.post.4049,1497035421,kurator_oblasti,4049,"Гелікоптери Мі-24В, які Чехія передала Україні...","Гелікоптери Мі-24В, які Чехія передала Україні...",2023-04-29 13:32:33,https://t.me/kurator_oblasti/4049,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,msg_iteration.1.user.kurator_oblasti.post.4048,1497035421,kurator_oblasti,4048,⚠️ Унаслідок вибуху в Севастополі знищено пон...,⚠️ Унаслідок вибуху в Севастополі знищено пона...,2023-04-29 04:09:47,https://t.me/kurator_oblasti/4048,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,msg_iteration.2.user.kurator_oblasti.post.4047,1497035421,kurator_oblasti,4047,NaN,NaN,2023-04-29 02:21:11,https://t.me/kurator_oblasti/4047,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,msg_iteration.3.user.kurator_oblasti.post.4046,1497035421,kurator_oblasti,4046,NaN,NaN,2023-04-29 02:21:11,https://t.me/kurator_oblasti/4046,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,msg_iteration.4.user.kurator_oblasti.post.4045,1497035421,kurator_oblasti,4045,NaN,NaN,2023-04-29 02:21:11,https://t.me/kurator_oblasti/4045,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_msgs.dropna(subset=['message'], inplace=True) #drops rows which have NaN values in message column

In [25]:
df = df_msgs['cleaned_message']
df.head()

0    Гелікоптери Мі-24В, які Чехія передала Україні...
1    ⚠️ Унаслідок вибуху в Севастополі знищено пона...
6    Окупанти обстріляли селище Малаторівка під Кра...
7         Севастополь, Крим. БпЛА атакували нафтобазу.
8    В Умані, під час розбору завалів зруйнованої б...
Name: cleaned_message, dtype: object

In [29]:
import spacy
from spacy.lang.uk.examples import sentences

In [31]:
nlp = spacy.load("uk_core_news_sm")

In [52]:
docs = []
for i, msg in enumerate(df):
    doc = nlp(msg)
    docs.append(doc)

In [90]:
def extract_casualties(doc):
    casualties = []
    for token in doc:
        if token.text.isdigit() and token.dep_ == "nummod":
            prev_token = doc[token.i - 1] if token.i > 0 else None
            next_token = doc[token.i + 1]
            if next_token.pos_ in ["NOUN", "PROPN"]:
                if prev_token:
                    casualties.append((prev_token.text, token.text, next_token.text))
    return casualties

In [91]:
casualties = []
for i, doc in enumerate(docs):
    data = (extract_casualties(doc))
    if len(data) != 0:
        casualties.append(data)

## BERT & HuggingFace

In [93]:
import re 
from transformers import pipeline

None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.